.OfferPage-container {
  width: 1000px;
  margin: 70px auto;
  border: 1px solid green;
  padding: 10px;

  display: flex;
  justify-content: center;
  gap: 40px;
}

.img-container {
  width: 200px;
  border: 1px solid violet;
}

.product-description {
  border: 1px black solid;
  width: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.product-details-container {
  display: flex;
  justify-content: space-between;
}
