.signup-form-container {
  width: 400px;
  margin: 70px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form-itself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.newsletter_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.signup-input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid pink;
  width: 250px;
  height: 30px;
}

.signup-warning {
  color: grey;
  font-size: 14px;
}

.login-redirection {
  text-decoration: none;
  color: #017782;
}

.login-redirection:hover {
  text-decoration: underline;
}
